header {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 33%;
}

p {
    text-align: left;
    font-size: 0,5em;
}

input {
    width: 100%;
}